---
import { basics } from '@cv'

const {summary} = basics
---

<section class="flex flex-col md:flex-row border-t pt-10 w-full justify-between gap-4 md:gap-10">
    <h2 class="uppercase">Perfil Profesional</h2>
    <p class="summary w-full md:w-[30rem]">
        {summary}
    </p>
</section>
