---
    import {skills} from '@cv'
---

<section class="flex flex-col md:flex-row border-t pt-10 w-full justify-between gap-10" id="skills">
    <h2 class="uppercase">Habilidades</h2>
    <div class="flex items-center gap-2 flex-wrap skills w-full md:pl-24 xl:pl-12">
        {skills.map((s) => (
            <p class="bg-gray-100 border px-4 py-1 rounded-md text-gray-500">
                {s.skill}
            </p>
        ))}
    </div>
</section>