---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="flex items-center justify-center w-full px-20 h-screen">
		<slot />
	</body>
</html>
<style is:global>
	html {
		font-family: Menlo, sans-serif;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}
	h1{
		@apply text-base font-bold
	}
	h2{
		@apply text-[.8rem]
	}
	h3{
		@apply text-xs
	}
	p{
		@apply text-[.65rem] font-light text-[#a2a2a2] text-pretty tracking-wide leading-5
	}
	/* Selecciona cualquier página de la derecha al imprimir */
	@media print {
		#work-3 {
			padding-top: 5rem;
		}
        .summary, .skills{
            width:  28rem !important;
        }

	}
</style>
